<!DOCTYPE html>
<html>
	<head>
		{% if page is defined %}
        <title>{pagetitle}</title>
        <meta name="description" content="{pagemetadescription}">
        {% endif %}
		<meta charset="utf-8">
		{{ outputHeadDeclarations() }}  
	</head>
	<body>
        {{ outputScripts('bodyOpen') }}
        {% block content %}{% endblock %}
        {{ outputScripts('bodyClose') }}
	</body>
</html>