<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Mautic Pro Email</title>

</head>
<body style="background: #969696;">
	<div data-section-wrapper>
    <table style="border-collapse: collapse; background: #FFFFFF; width: 600px; min-height: 760px; color: #555; display: block; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; border: 1px solid #494949; box-shadow: 1px 1px 1px #5B5959; margin: 50px auto;">
    	 
        <tr data-section>
            <td data-slot-container style="vertical-align: top; padding: 30px 50px 10px 50px; font-size: 28px; line-height: 1.5em;">
                <div data-slot="text">Email de teste,</div>
            </td>
        </tr>
        <tr data-section>
            <td data-slot-container style="vertical-align: top; padding: 30px 50px; font-size: 17px; line-height: 1.7em;">
                <div data-slot="text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia turpis in turpis porttitor, at tempor nisi congue. Sed et tortor suscipit, ullamcorper diam a, consectetur mauris.</p>
                <p>Maecenas finibus tempor sagittis. In non est sed risus aliquet interdum ac ut lorem.</p></div>
            </td>
        </tr>
        <tr data-section>
            <td data-slot-container style="vertical-align: top; padding: 30px 50px; font-size: 12px; line-height: 1.5em;color: #ffffff; background-color: #888888;">
                <div data-slot="text"><p>Assinatura</p></div>
            </td>
        </tr>
        
    </table>
	</div>
</body>
</html>